{% extends 'base/admin.twig' %}
{% import "base/utils.twig" as utils %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Volumes</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ full_url_for('account.volumes.add.raid') }}" type="button" class="btn btn-outline-secondary">
                <span data-feather="hard-drive"></span>
                Rescan
            </a>
        </div>
    </div>

    {% if diskOptions|length > 0 %}
        <form method="POST" action="{{ full_url_for('actions.volumes.add.raid') }}">
            <fieldset>
                <legend>Volume Creation <small>RAID</small></legend>

                <div class="mb-3">
                    <label for="inputRaid" class="form-label">RAID Type</label>
                    <select name="raid" id="inputRaid" class="form-select" required>
                        <option value="0">RAID 0 (Striping)</option>
                        <option value="1">RAID 1 (Mirroring)</option>
                        <option {{ not (diskOptions|length > 2) ? 'disabled' : '' }} value="5">RAID 5 (Parity)</option>
                        <option {{ not (diskOptions|length > 3) ? 'disabled' : '' }} value="6">RAID 6 (Double Parity)</option>
                        <option {{ not (diskOptions|length > 3) ? 'disabled' : '' }} value="10">RAID 10 (Mirror / Sripe)</option>
                    </select>
                </div>

                <div class="mb-3">
                    {% for d in diskOptions %}
                        <div class="form-check form-switch">
                            <input checked value="{{ d.getId()|e('html_attr') }}" name="disks[]" class="form-check-input" type="checkbox" role="switch" id="switchDisk--{{ d.getId()|e('html_attr') }}">
                            <label class="form-check-label" for="switchDisk--{{ d.getId()|e('html_attr') }}">{{ d }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="inputVolumeName" class="form-label">Volume Name</label>
                    <input placeholder="Volume Name" required name="volumeName" type="text" class="form-control" id="inputVolumeName" pattern="[a-zA-Z0-9-_]{1,15}">
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit <i data-feather="check"></i></button>
            </fieldset>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            No disks available to create a new volume. You must have at lease 2 disks available to create a RAID volume <a href="{{ full_url_for('account.volumes.add.raid') }}" class="alert-link">Rescan for new Disks</a>
        </div>
    {% endif %}

{% endblock %}
