{% extends 'base/admin.twig' %}
{% import "base/utils.twig" as utils %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Volumes</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group" role="group">
                <button id="btnCreateVolume" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span data-feather="plus"></span>
                    Create
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnCreateVolume">
                    <li><a class="dropdown-item" href="{{ full_url_for('account.volumes.add.simple') }}">Simple</a></li>
                    <li><a class="dropdown-item" href="{{ full_url_for('account.volumes.add.raid') }}">RAID</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
            <tr>
                <th>Name</th>
                <th>Disk(s)</th>
                <th>Usage</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for v in volumeList %}
                <tr class="align-middle">
                    <td><span class="mr-2" data-feather="database"></span> {{ v.getId() }}</td>
                    <td><span class="mr-2" data-feather="hard-drive"></span> {{ v.getDisk().getId() }}</td>
                    <td>
                        {% if v.isMounted() %}
                            {{ utils.generateProgressBar(v.getUsedSpacePercent()) }}
                            <small>{{ v.getUsedSpace() }}B used of {{ v.getTotalSpace() }}B</small>
                        {% else %}
                            <span class="text-danger"><i data-feather="alert-circle"></i> Not Mounted</span>
                            {% endif %}
                    </td>
                    <td>
                        {% if v.getRaid() >= 0 %}
                            <button data-bs-toggle="modal" data-bs-target="#raidInfoModal--{{ v.getId()|e('html_attr') }}" class="btn btn-outline-secondary"><span data-feather="settings"></span></button>
                        {% endif %}

                        {% if getHomeVolume() is not same as(v.getId()) %}

                            {% if v.canUnlock() %}
                                <button data-bs-toggle="modal" data-bs-target="#unlockModal--{{ v.getId()|e('html_attr') }}" class="btn btn-outline-secondary"><span data-feather="unlock"></span></button>
                            {% endif %}

                            <!--
                            {% if not v.isCrypt() %}
                                <button class="btn btn-outline-secondary"><span data-feather="lock"></span></button>
                            {% endif %}
                            -->

                            <button data-bs-toggle="modal" data-bs-target="#deleteModal--{{ v.getId()|e('html_attr') }}" class="btn btn-outline-danger"><span data-feather="trash"></span></button>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center py-3 h3" colspan="4">No volumes available!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for v in volumeList %}
        {% if (v.getRaid() >= 0) %}
            <div class="modal fade" id="raidInfoModal--{{ v.getId()|e('html_attr') }}" tabindex="-1" aria-labelledby="raidInfoLabel--{{ v.getId()|e('html_attr') }}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="raidInfoLabel--{{ v.getId()|e('html_attr') }}">{{ v.getId() }} RAID configuration</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <pre>{{ v.getRaidRawInfo() }}</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if getHomeVolume() is not same as(v.getId()) %}

            {% if v.canUnlock() %}
                <div class="modal fade" id="unlockModal--{{ v.getId()|e('html_attr') }}" tabindex="-1" aria-labelledby="unlockLabel--{{ v.getId()|e('html_attr') }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="POST" action="{{ full_url_for('actions.volumes.unlock') }}">
                            <input type="hidden" name="volume" value="{{ v.getId()|e('html_attr') }}">
                            <input type="hidden" name="disk" value="{{ v.getDisk().getId()|e('html_attr') }}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="unlockLabel--{{ v.getId()|e('html_attr') }}">Unlock {{ v.getId() }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="passwordInput--{{ v.getId()|e('html_attr') }}" class="form-label">Password</label>
                                    <input name="password" type="password" class="form-control" id="passwordInput--{{ v.getId()|e('html_attr') }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Unlock</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <div class="modal fade" id="deleteModal--{{ v.getId()|e('html_attr') }}" tabindex="-1" aria-labelledby="deleteLabel--{{ v.getId()|e('html_attr') }}" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="POST" action="{{ full_url_for('actions.volumes.delete') }}">
                        <input type="hidden" name="volume" value="{{ v.getId()|e('html_attr') }}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteLabel--{{ v.getId()|e('html_attr') }}">{{ v.getId() }} delete confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <p>Are you sure you want to delete {{ v.getId() }}?</p>
                                <p class="text-danger">This will delete all data within the Volume</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
