{% extends 'base/admin.twig' %}

{% block main %}

    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ full_url_for('setup.welcome') }}">Setup</a></li>
            <li class="breadcrumb-item active" aria-current="page">Timezone</li>
        </ol>
    </nav>

    {{ include('base/messages.twig') }}

    <form method="POST" action="{{ full_url_for('actions.setup.step1') }}">
        <fieldset>
            <legend>Timezone Configuration</legend>

            <div class="mb-3">
                <label for="inputTimezone" class="form-label">Timezone</label>
                <select required name="timezone" id="inputTimezone" class="form-select form-select-lg">
                    {% for tz in timezoneList %}
                        <option {{ currentTimezone is same as(tz) ? 'selected ' : ' ' }}value="{{ tz|e('html_attr') }}">{{ tz }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-lg w-100">Next <i data-feather="arrow-right"></i></button>
        </fieldset>
    </form>

{% endblock %}
